body {
    font-family: 'Arial', sans-serif;
    background-color: #7311c3;
    margin: 0;
    padding: 0;
    
}

.play-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: 300px;
    
}

.quiz-title {
    color: rgb(238, 234, 234);
    position: relative;
    top: 310px;
    
}